body{
  margin: 0;
  padding: 0;
}
#app{
}
.el-tabs{
  width: 80%;
  margin: 40px auto;
}
.danger-text{
  color: #ff4949;
}
.danger-bg{
  background-color: #ff4949;
}

.group-list .group-status--1 .status,
.group-list .group-status--2 .status,
.group-list .group-status--3 .status{
  color: #ff4949;
}
.group-list .group-status-0 .status{
  color: #13CE66;
}
.group-list .group-status-1 .status{
  color: #F7BA2A;
}

.group-detail{
  width: 80%;
  margin: 0 auto;
}
.group-detail .row{
  overflow: hidden;
  margin: 15px 0;
}
.group-detail .row label{
  float: left;
}
.group-detail .row img{
  max-width: 300px;
  max-height: 200px;
  margin: 10px;
}
.group-detail .row label + div{
  margin-left: 100px;
}

.group-detail .row .commodity-row.header{
  background-color:#eef1f6;
  padding: 5px 0;
}
.group-detail .row .commodity-row span{
  margin-right: 15px;
  display: inline-block;
  width: 20%;
  text-align: center;
}
