<html>
  <head>
    <title>Test</title>
    <link href="style/global.css"  type="text/css" rel="stylesheet" />
    <script>
      window.require = {
        baseUrl: './',
        paths: {
          'vue': 'lib/vue.min',
          'vue-resource': 'lib/vue-resource.min'
        }
      }
    </script> 
  </head>  
  <body>
    <div id="app">
      <div class="menu">
        <button type="button"  @click="toggleAll(1)" />全部展开</button>
        <button type="button"  @click="toggleAll(0)" />全部收起</button>
        <ul>
          <li v-for="item in interfaces">
            <b>{{item.title}}</b> 
            <ul>
              <li v-for="api in item.interfaces" >
                <a :href="'#anchor_' + api.title">{{api.title}}</a>
              </li>
            </ul>
          </li>
        </ul> 
      </div>
      <div>
        <label>API domain:</label> 
        <input type="text" v-model="apiDomain"/>
      </div>

      <div class="restful-list">
        <h2 class="pointer">upload</h2>
        <div class="api-list" >
          <h3 class="pointer" id="anchor_upload">上传图片</h3>
          <div class="api-block">
            <h4>地址</h5>
            <p>
              <span class="method">【POST】</span>
              <input type="text" value="/upload" />
            </p>
            <iframe style="display:none;" id="uploadIframe" name="uploadIframe" ></iframe>
            <form target="uploadIframe" method="post" :action="apiDomain + '/upload'" enctype="multipart/form-data"  >
              <input name="file" type="file" onchange="this.parentNode.submit()" />
            </form>
          </div>
        </div>
      </div>

      <div class="restful-list" v-for="item in interfaces">
        <h2 class="pointer" @click="toggle(item)">
          <i class="expand-flag">{{item.expand ? '-' : '+'}}</i>{{item.title}}
        </h2>
        <div v-if="item.comments" class="comments">
          <h4>说明</h5>
          <ul class="comments-list">
            <li v-for="comment in item.comments">{{comment}}</li>
          </ul>
        </div>
        <div class="api-list" v-for="api in item.interfaces" v-show="item.expand">
          <h3 class="pointer" @click="toggle(api)" :id="'anchor_' + api.title">
            <i class="expand-flag">{{api.expand ? '-' : '+'}}</i>{{api.title}}
          </h3>
          <div class="api-block" v-show="api.expand">
            <h4>地址</h5>
            <p>
              <span class="method">【{{api.method.toUpperCase()}}】</span>
              <input type="text" v-model="api.url" />
            </p>
            <div v-if="api.comments" class="comments">
              <h4>说明</h5>
              <ul class="comments-list">
                <li v-for="comment in api.comments">{{comment}}</li>
              </ul>
            </div>
            <p>
              <button class="large" :disabled="api.submiting" @click="send(api)">发送</button>
            </p>
            <div v-if="api.body" class="request-code">
              <h4>Request body</h4>
              <pre class="code post-body" v-if="api.body">{{api.body | jsonStringify}}</pre>
            </div>
            <div v-if="api.response" class="response-code">
              <h4>Response body</h4>
              <pre class="code response" :class="api.responseType">{{api.response | jsonStringify}}</pre>
            </div>
          </div>
        </div> 
      </div> 
    </div>
    <script src="./lib/require.js" data-main="src/main.js"></script>
  </body>  
</html>
