button {
  background-color: #20a0ff;
  border-radius: 4px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
}
button:disabled {
  background-color: #ddd;
}
button.large{
  width: 100%;
  font-size: 17px;
  line-height: 22px;
}

input[type="text"]{
  border: none;
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
  font-size: 18px;
  padding: 0 8px 3px;
  outline: none;
  width: 80%;
}
.menu{
  position: fixed;
  left: 0px;
  top: 0px;
  border-radius: 0 4px 4px 0;
  padding: 20px 15px 20px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.menu ul{
  margin: 0;
  padding: 0 0 0 25px;
}
.menu ul li{
  margin: 8px 0;
}

.menu ul a{
  color: white;
  font-size: 14px;
  text-decoration: none;
  line-height: 22px;
}

i.expand-flag{
  font-style: normal;
  margin-right: 5px;
}
.pointer{
  cursor: pointer;
}
#app{
  display: none;
  width: 70%;
  margin: 30px auto;
}
.api-list{
  margin-left: 20px;
  padding-left: 50px;
  border-left: 5px solid #aaa;
}
.api-block{
  margin-left: 20px;
  padding-left: 50px;
  border-left: 5px solid #ddd;
  overflow: hidden;
}
.api-block .code{
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
}
.api-block .post-body.code{
  color: #000;
  background-color: #fff;
}
.api-block .code.error{
  color: #ff0000;
}
.api-block .code.warn{
  color: yellow;
}
.api-block .method{
  font-weight: bolder;
  margin-right: 5px;
}
.request-code,
.response-code{
  width: 48%;
  float: left;
}
.response-code{
  margin-left: 2%;
}
.comments-list{
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 2px;
}
