button {
  background-color: #20a0ff;
  border-radius: 4px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
}
button:disabled {
  background-color: #ddd;
}
button.large{
  width: 100%;
  font-size: 17px;
  line-height: 22px;
}

input[type="text"]{
  border: none;
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
  font-size: 18px;
  padding: 0 8px 3px;
  outline: none;
}

.pointer{
  cursor: pointer;
}
#app{
  display: none;
  width: 80%;
  margin: 30px auto;
}
.api-list{
  margin-left: 20px;
  padding-left: 50px;
  border-left: 5px solid #aaa;
}
.api-block{
  margin-left: 20px;
  padding-left: 50px;
  border-left: 5px solid #ddd;
}
.api-block .code{
  background-color: #333;
  color: #fff;
  padding: 15px;
  width: 50%;
  border-radius: 4px;
}
.api-block .code.error{
  color: #ff0000;
}
.api-block .method{
  font-weight: bolder;
  margin-right: 5px;
}
